.container{
    padding: 10px;
    max-width: 1500px;
    margin: auto;
    display: grid;
    /* border: 1px solid seagreen; */
}
.decoration{
    display: grid;
    /* border: 1px solid rgb(112, 216, 143); */
    align-content: end;
}
.central__box{
    display: grid;
    justify-content: center;
    /* border: 1px solid palevioletred; */
    grid-template-columns: 1fr 1fr 1fr;
}
.central__box .box{
    display: grid;
    grid-template-columns: 1f 1f;
    padding: 5px;
    /* border: 1px solid blue; */
    grid-gap: 10px;
    justify-content: center;
    
}
img{
    width: 100%;
    height: auto;
}
.lady__red-ribbon{
    max-width:390px;
    max-height:490px;
}
.hilight__star{
    max-width: 35px;
    max-height: 35px;
}
.star__stick{
    max-width: 20px;
    height: 430px;
    justify-self: center;
    grid-column-start: 4;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.accordion{
    justify-self: start;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
}
.accordion-button{
    background-color: #231107; 
    color: #9f7647;
    cursor: pointer;
    padding: 20px;
    border: 0;
    text-align: right;
    outline: none;
    font-family: 'Bacasime Antique', serif;
    text-align: left;
    font-size: 24px;
    transition: 0.3s;
}
 .active, .accordion-button:hover{
    background-color: #231107;
}
.accordion-button:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    margin-left: 5px;
    float: right;
}
.active:after {
    content: "\2212";
}
.panel{
    padding: 0 20px;
    background-color: #231107;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
img{
    width: 100%;
    height: auto;
}
.lady__red-ribbon{
    max-width:475px;
    max-height:597px;
}
.right__sidebar .answer{
    display: grid;
    /* border: 1px solid red; */
}
.advise__text{
    font-size: 25px;
    font-family:'Work Sans', sans-serif;
    color: #ffffff96;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 10;
}
.answers-text{
    font-size: 17px;
    font-family:'Work Sans', sans-serif;
    color: #ffffff96;
    font-weight: bold;
}
.speaker__name{
    justify-self: end;
    align-self: end;
    color: var(--descriptive__color);
}
.ask__title{
    font-family: 'Bacasime Antique', serif;
    color:#9f7647;
    font-size: 59px;

}
.text__hilight{
    color: var(--title__color__higlight);
}
.sleeping-princess{
    width: 100%;
    height: auto;
    z-index: 0;
}
.ticket__text{
    font-family: 'Bacasime Antique', serif;
    font-size: 80px;
    color: #ffffff;
    z-index: 1;
}
.top-right__arrow{
    max-width: 33px;
    max-height: 33px;
}
.decoration{
    display: grid;
    /* border: 1px solid orange; */
}